.pagination {
  @include phone {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
  }

  button {
    background-color: $blue;
    padding: 1rem 3rem;
    text-align: center;
    border: none;
    outline: none;
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    width: 100%;
    border-radius: 2rem;
    transition: 0.2s ease-in-out;
    margin-bottom: 2rem;

    @include phone {
      width: 20rem;
    }

    &:hover {
      cursor: pointer;
      color: $black;
    }
  }
}
